// importing tailwind components
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.menu-item {
    a {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#footer{
    background-image:url('../img/footerBG.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(1, 50, 67, 0.9);
}

.footer-line {
  padding: 0.8px;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.column {
  width: 34%;
  margin: 0;
  transition: all 1.5s ease;
  &.wide {
    width: 70%!important;
  }
}

.column iframe {
  width: 100% !important;
  height: 100% !important;

}

#frontpage {
    background-image:url('../img/frontPageBG.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    background-image:url('../img/aboutusBG.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#aboutusPage_content {
    background-image:url('../img/frontPageBG.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutusPage_content__contentcolumn {
  h1 {
    text-shadow: 2px 2px 10px #000000;
  }
}

#testimonials_heading {
    background-image:url('../img/testimonialsBG.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#testimonials {
    background-image:url('../img/frontPageBG.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_heading {
    background-image:url('../img/contactBG.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#contactContent {
    background-image:url('../img/frontPageBG.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#frontpage {
    background-image:url('../img/frontPageBG.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow:inset 0 0 0 2000px rgba(255, 255, 255, 0.05);
}

.frontpage_embed-container iframe {
  width: 1260px;
}

// small screens
@media (max-width: 640px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .slick-slide {
      height: auto !important;
    }

    .menu-item {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
}

//tablet resolution
@media (min-width: 640px) and (max-width: 1280px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
  }